@tailwind base;
@tailwind components;
@tailwind utilities;

/*Color Scheme choices*/
:root {
  --hero-text: #08367C;
  --hero-background: #A3DCFF;

}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #A3DCFF;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}
