@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/*Color Scheme choices*/
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --hero-text: #08367C;
  --hero-background: #A3DCFF;
  --drip: linear-gradient(180deg,  rgb(165, 13, 43) 0%, rgba(120,11,11,1) 54%, rgb(97, 9, 9) 100%);
  --foothero: linear-gradient(0deg,  rgb(165, 13, 43) 0%, rgba(120,11,11,1) 54%, rgb(97, 9, 9) 100%);

}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}
