@tailwind base;
@tailwind components;
@tailwind utilities;

/*Color Scheme choices*/
:root {
  --hero-text: #08367C;
  --hero-background: #A3DCFF;
  --drip: linear-gradient(180deg,  rgb(165, 13, 43) 0%, rgba(120,11,11,1) 54%, rgb(97, 9, 9) 100%);
  --foothero: linear-gradient(0deg,  rgb(165, 13, 43) 0%, rgba(120,11,11,1) 54%, rgb(97, 9, 9) 100%);

}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #A3DCFF;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}
